 @font-face {
     font-family: 'Mc';
     src: url('./Speedee-Bold.ttf') format('truetype');
 }


 .center {
     margin-left: auto;
     margin-right: auto;
 }

 body {
     margin: 0;
     padding: 0;
     background-color: wheat;
 }


 #header {
     background-color: rgb(13, 79, 31);
     width: 100%;
     height: 200px;
     position: relative;
     z-index: 2;
 }

 #maintitle {
     color: wheat;
     font-size: 100px;
     text-align: center;
     margin: 0;
     line-height: 300px;
     font-family: Mc;
 }

 #caption {
     position: absolute;
     top: 100px;
     width: 100%;
     text-align: center;
     font-size: 24px;
     color: #333;
     z-index: 1;
     font-family: Mc;
 }

 #restofthepage {
     height: 100%;
     width: 100%;

 }

 #reviews {
     margin-top: 100px;
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     gap: 50px;
 }

 .review {
     position: relative;
     font-size: 30px;
     background-color: rgb(13, 79, 31);
     width: fit-content;
     padding: 10px;
     color: white;
 }

 #bugburger {
     margin-top: 130px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 500px;

 }

 #worm {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 50px;
     margin-top: 200px;
 }

 #wormnoodles {
     width: 700px;
     background-color: rgb(13, 79, 31);
     padding: 30px;
 }

 #wormtext {
     position: relative;
     opacity: 0;
     left: -10%;
     font-size: 24px;
     max-width: 500px;
     color: #333;
 }

 #cent {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 50px;
     margin-top: 200px;
 }

 #centdog {
     width: 700px;
     background-color: rgb(13, 79, 31);
     padding: 30px;
 }

 #centtext {
     position: relative;
     left: 25%;
     opacity: 0;
     font-size: 24px;
     max-width: 500px;
     color: #333;
     text-align: right;

 }

 #dump {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 50px;
     margin-top: 200px;

 }

 #dumpicture {
     width: 700px;
     background-color: rgb(13, 79, 31);
     padding: 30px;

 }

 #dumptext {
     position: relative;
     opacity: 0;
     left: -10%;
     font-size: 24px;
     max-width: 500px;
     color: #333;
 }

 #gap {
     margin-bottom: 200px;
     height: 200px;


 }

 .centered_test {
    margin-left: auto;
    margin-right: auto;
 }